@model FormInfo
@{
    ViewBag.Title = "Application Form";
    Layout = "_MainLayout";
}
<h1>Application Form</h1>
<form method="post" action="/application/apply">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" id="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" id="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Mail" class="form-label">Mail</label>
        <input asp-for="Mail" id="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="IsAttending" class="form-label">Will you participate in the program?</label>
       <select asp-for="IsAttending" id="IsAttending">
        <option value="true">Yes, I will.</option>
        <option value="false">No, I wont.</option>
       </select>
    </div>
    <button class="btn btn-sm btn-outline-success" href="/application/apply">
        Apply
    </button>
</form>