@{
    ViewBag.Title = "Application Form";
    Layout = "_MainLayout";
}
<h1>Application Form</h1>
<form action="">
    <button class="btn btn-sm btn-outline-success">
        Apply
    </button>
</form>