<h1> Applied People List </h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Surname
            </td>
            <td>
                KAtılım durumu
            </td>
            <td>
                
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Beyza Nur
            </td>
            <td>
                D.
            </td>
            <td>
                Evet
            </td>
            <td>
                <a class="btn btn-sm btn-success" href="#"> Info </a>
            </td>
        </tr>
        <tr>
            <td>
                Beyza Nur2
            </td>
            <td>
                D.2
            </td>
            <td>
                Evet
            </td>
            <td>
                <a class="btn btn-sm btn-success" href="#"> Info </a>
            </td>
        </tr>
    </tbody>
</table>