@model List<FormInfo>
@{
    ViewBag.Title = "List";
    Layout = "_MainLayout";
}
<h1> Applied People List </h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Attending
            </td>
            <td>
                
            </td>
        </tr>
    </thead>
    <tbody>

        @{ int count = 0; }

        @foreach(var user in Model)
        {
            var status = user.IsAttending ? "Yes" : "No";
            var tableClass = user.IsAttending ? "table-success" : "table-danger";

            if(user.IsAttending)
            {
                count++;
            }

            <tr class="@tableClass">
                <td>
                    @user.Name
                </td>
                <td>
                    @status
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="/application/details/@user.Id"> Info </a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="card">
    <div class="card-body">
        <p>Current Number of Participants: @count</p>
    </div>
</div>