<!-- navbar-expand-sm: expands navbar in small screens like mobiles-->
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <div class="container">
        <a href="#" class="navbar-brand"> Books App </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item"> 
                <a href="/home" class="nav-link"> Home </a>    
            </li>
            <li class="nav-item"> 
                <a href="/book/list" class="nav-link"> Book List </a>    
            </li>
        </ul>
    </div>
</nav>